<div class="po-wrapper">
    <po-menu p-collapsed=true  p-filter [p-menus]="menus">
    </po-menu>
    <po-toolbar p-title="Teste 30 min" >
    </po-toolbar>
    <router-outlet></router-outlet>
</div>
