<po-page-list p-title="{{literals?.telaInicial}}" *ngIf="logado" style="width: 100%;">
  <po-container>
    <po-button p-type="primary" class="po-lg-1 po-mt-4" style="float:right;"p-label="Deslogar" (p-click)="logout()"></po-button>
    <h1>Você está logado!</h1>
    <po-number class="po-lg-3" p-label="Informe o Codigo de 1 a 600" [(ngModel)]="id" [p-maxlength]="3"></po-number>
    <po-button p-type="primary" class="po-lg-2 po-mt-4" p-label="Buscar Heroi" (p-click)="FindHeroById()"></po-button>
  </po-container>
  <po-container *ngIf="hasHero">
    <po-avatar
    p-size="xl"
    [p-src]="stringUrl" >
</po-avatar>
<po-page-default p-title="Hero" >
  <po-divider
    p-label="Hero identification"  class="po-mt-2">
</po-divider>
  <po-dynamic-view [p-fields]="dynimcField" [p-value]="hero" > </po-dynamic-view>
  <po-divider
    p-label="Hero Status"  class="po-mt-2">
</po-divider>
  <po-dynamic-view  [p-value]="heroStatus"> </po-dynamic-view>
</po-page-default>
  </po-container>
</po-page-list>
<po-page-list *ngIf="!logado">
  <po-container p-title="Insira a senha">
    <h1>Você está deslogado</h1>
    <div class="po-row">
        <po-number class="po-lg-3" (p-change)="existNumber($event)" p-label="Informe o Token da Hero-API" p-required ="token"></po-number>
        <span #target class="po-clickable po-icon po-icon-help po-mt-5 po-mr-5" (click)="popup.toggle()"> </span>
        <po-popup #popup [p-actions]="[{ label: 'O Token deve conter 16 numeros!' }]" [p-target]="target"> </po-popup>
        <po-button [p-disabled]="disableButton" p-type="primary" class="po-lg-2 po-mt-4" p-label="Logar" (p-click)="login()"></po-button>
    </div>
  </po-container>
</po-page-list>
